<template lang="pug">
.brand
    .brand-title PRAK
</template>
<script setup>

</script>
<style scoped>

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 5px;
  justify-content: flex-end;
}
.brand-title {
  font-family: "Aclonica";
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  
  color: white;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

</style>
