<script setup>
import Menu from "@/components/Menu.vue";
import { useSlots, computed } from "vue";
import { storeToRefs } from "pinia";
import { useAppStore } from "@/stores/app";

import icon1 from "@/assets/line-vector-1.svg";
import icon2 from "@/assets/line-vector-2.svg";
import icon4 from "@/assets/line-vector-4.svg";

const slots = useSlots();
const hasSlot = (name) => {
  return !!slots[name];
};

const hasStepsSlot = computed(() => {
  return hasSlot("stepOne") || hasSlot("stepTwo") || hasSlot("stepThree");
});

const appStore = useAppStore();
//const {  } = storeToRefs(appStore);
</script>
<template lang="pug">
.layout
    .left-wrapper
        .brand-wrapper
          router-link(:to="{name:'Home'}")
            Brand
        .icons-wrapper
            img(:src="icon1")
            img(:src="icon2")
            img(:src="icon4") 
    .layout-content
        Menu
        .layout-content-inner(:class="{bg:hasSlot('default')}")
            .layout-step-wrapper(:class="{enabled: hasStepsSlot}")
                .slot-one(:class="{bg:hasSlot('stepOne')}")
                    slot(name="stepOne")
                .slot-two(:class="{bg:hasSlot('stepTwo')}")
                    slot(name="stepTwo")
                .slot-three(:class="{bg:hasSlot('stepThree')}")
                    slot(name="stepThree")
            div(:class="{'slot-default':hasSlot('default')}")
                slot
    .right-wrapper(v-if="false")
      RightMenu

</template>
<style lang="scss" scoped>
.layout {
  display: grid;
  grid-template-columns: 180px 1fr; /* 50px;*/
  height: calc(100vh);
}
.layout-content {
  align-self: center;
}
.layout-content {
  height: calc(100vh);
  display: grid;
  grid-template-rows: 168px 1fr;
}
.brand-subtitle {
  padding: 0px;
  margin: 0px;
  text-align: right;
}

.brand-wrapper {
  position: relative;
  left: 0px;
  top: 10px;
  height: 158px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-wrapper {
  height: inherit;
  align-self: center;
  flex-basis: 180px;
}
.icons-wrapper {
  height: calc(100% - 179px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  img {
    max-width: 50px;
    max-height: 100px;
  }
}
.layout-content-inner {
  height: calc(100vh - 168px);
  overflow: auto;
  &.bg {
    background-color: var(--light-grey);
  }
}
.layout-step-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  &.enabled {
    height: calc(100vh - 168px);
  }
}
.slot-one.bg,
.slot-two.bg,
.slot-three.bg {
  background-color: var(--light-grey);
  padding: 20px 15px;
}
.slot-default {
  padding: 20px 15px;
}

.right-wrapper {
  padding-bottom: 50px;
}
</style>
