:root{
    --grey: #694C59;
    --grey-light: #966D7F;
    --dark-grey: #694C59;
    --light-dark: #684c5a;
    --light-grey: #996c80;
    --light:#f2d7e3;
    --dark: #47303a;
}



@font-face {
    font-family: 'Aclonica';
    src: url('./fonts/Aclonica-Regular.eot');
    src: url('./fonts/Aclonica-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Aclonica-Regular.woff2') format('woff2'),
        url('./fonts/Aclonica-Regular.woff') format('woff'),
        url('./fonts/Aclonica-Regular.ttf') format('truetype'),
        url('./fonts/Aclonica-Regular.svg#Aclonica-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body{
    /*background: linear-gradient(92deg, #ff000061, #ffffff66);*/
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    font-family: "Aclonica";
    font-size: 14px;
    background-color: var(--dark-grey);
    padding: 0px 0px;
    margin:0px;
    overflow: hidden;
}

.svg-maxw-25{
    max-width: 25px;
}
.svg-maxw-50{
    max-width: 50px;
}

body,p,h1,h2,h3,h4,h5,h6{
    color:white;
}

p{
    margin:0px;
}

.n-form, .my-panel{
    padding: 10px;
    background-color: #f5fff1;
    margin: 10px 0px;
    border-radius: 5px;
}

.divider-title{
    
        --n-color: rgb(255 255 255)!important;
          --n-text-color: rgb(255 255 255)!important;
          --n-font-weight: 800!important;
          background: #38323c;
}
.divider-title-red{
    --n-color: rgb(239, 239, 245)!important;
    --n-text-color: rgb(255 255 255)!important;
    --n-font-weight: 800!important;
    background-color: indianred;
}
.divider-title-blue{
    --n-color: rgb(239, 239, 245)!important;
    --n-text-color: rgb(255 255 255)!important;
    --n-font-weight: 800!important;
    background-color: #2a76ff;
}
.divider-title-grey{
    --n-color: rgb(255 255 255)!important;
    --n-text-color: rgb(31, 34, 37)!important;
    --n-font-weight: 800!important;
    background-color: #a18182;
}

.n-form{
    background-color: transparent !important;
}

a{
    text-decoration: none;
}